body, html {
  width:100%;
  color:#fff;
  height:100%;
  background:#222;
}

#root {
  
}

main {
  width:100%;
  margin:0 auto;
  height:100%;
}

#Arena {
  width:100%;
  display:flex;
  height:100%;
  background-image: url("./assets/img/StadiumBG.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.trainerArea {
  width:40%;
  margin: 21% 5% 6%;
  display:flex;
}

.trainerOuter {
  display:flex;
  flex-direction: column;
  justify-content: end;
}

.Bench {
  display:flex;
}

.BenchPokeball {
  width:35px;
  height:35px;
  padding: 10px;
}

.trainerSprite img {
  width:100%;
  height:auto;
}

.pokemonSprite {
  position:relative;
}

.pokemonSprite img {
  width : 100%;
  height : auto;
  position:relative;
}

.pokemonSprite > .star {
  position : absolute;
  top:0px;
  width:32px;
}

.pokemonSprite > .star2 {
  position : absolute;
  top:0px;
  left:35px;
  width:32px;
}

.pokemonSprite > .star3 {
  position : absolute;
  top:0px;
  left:70px;
  width:32px;
}

.nameBar {
  display:block;
  background:#fff;
  color:#222;
  border: 2px solid #222;
  padding:2px;
  font-size:24px;
}

.moveName {
  margin-top:20px;
  display : block;
  color:#222;
  padding:2px;
  font-size:21px;
  border: 2px solid #222;
  width:80%;
  text-align:center;
}

.type {
  width:50%;
  max-width:139px;
}


.trainerArea1 .pokemonSprite img {
    transform: scaleX(-1);
}

.trainerArea1 .trainerSprite img {
  transform: scaleX(-1);
}

/* POKEMON TYPES https://www.epidemicjohto.com/t882-type-colors-hex-colors */

.Fire {background-color: #EE8130;}
.Water {background-color:  #6390F0;}
.Electric {background-color: #F7D02C;}
.Grass {background-color:#7AC74C;}
.Ice {background-color:96D9D6;}
.Fighting {background-color:#C22E28;}
.Poison {background-color:  #A33EA1;}
.Ground {background-color: #E2BF65;}
.Flying {background-color: #A98FF3;}
.Psychic {background-color: #F95587;}
.Bug {background-color: #A6B91A;}
.Rock {background-color: #B6A136;}
.Ghost {background-color: #735797;}
.Dragon {background-color: #6F35FC;}
.Dark {background-color: #705746;}
.Steel {background-color: #B7B7CE;}
.Fairy {background-color: #D685AD;}



/* HP BAR FROM https://css-tricks.com/css3-progress-bars/ */

.HpBar {
  box-sizing: content-box;
  height: 20px; 
  position: relative;
  background: #555;
  border-radius: 25px;
  padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
.HpBar > div {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43, 194, 83);
  background-image: linear-gradient(
    center bottom,
    rgb(43, 194, 83) 37%,
    rgb(84, 240, 84) 69%
  );
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  animation:expandWidth 1s;
}
.HpBar > div:after,
.animate > div > div {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

@keyframes expandWidth {
  0% { width: 0%; }
  100% {width: 100%;}
}

.animate > div:after {
  display: none;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.HpBar > .yellow {
  background-color: rgb(213, 216, 44);
  background-image: linear-gradient(
    center bottom,
    rgb(223, 183, 8) 37%,
    rgb(217, 235, 59) 69%)
}

.HpBar > .red {
  background-color: rgb(216, 44, 44);
  background-image: linear-gradient(
    center bottom,
    rgb(238, 0, 0) 37%,
    rgb(218, 82, 82) 69%)
}

/* damage flash effect from https://cssdeck.com/blog/create-a-flash-effect-on-images-on-hover-using-css3/ */

 @-webkit-keyframes flash {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
 }
 @keyframes flash {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
 }

 .damaged {
  opacity: 1;
  -webkit-animation: flash 1s;
  animation: flash 1s;
 }

 .fainting {
  animation: fainting 1s;
 }

 @keyframes fainting {
  0% {transform: scale(1)}; 
  50%, 75% {transform: scale(0.4)}
  100% {transform: scale(0.1)}
}

@keyframes summoned {
  0% {transform: scale(0.1)}; 
  50%, 75% {transform: scale(0.4)}
  100% {transform: scale(1)}
}
.fainted {
  display:none;
}

.summoned {
  animation: summoned 1s;
}

/* MAINTENANCE PHASE */

.MaintenanceArea {
  display:flex;
}

.pokemonWindow {
  width : 30%;
  margin:0 2%;
  padding:10px;
  background: #eee;
  border-radius: 15px;
  border-top:2px solid #FB1B1B;
  border-right:2px solid #FB1B1B;
  border-bottom:2px solid #0075BE;
  border-left:2px solid #0075BE;
  color:#222;
}

.maintenanceNameBar {
  text-align:center;
  margin-bottom:15px;
}

.maintenanceNameBar p {
padding:2px; 
font-size:22px;
border-bottom: 2px solid #222;
max-width:50%;
  margin:0 auto;
}

.maintenanceMove {
  text-align:center;
}

.maintenanceMove p {
  display:block;
  border:2px solid #222;
  padding:2px;
  font-size:18px;
  max-width:50%;
  margin:0 auto;
}

.MaintenanceMenu {
  margin:25px auto;
}

.MaintenanceMenu button {
  width:55%;
  padding:2px;
  font-size:16px;
  background: #FB1B1B;
  color: #eee;
  border:none;
  margin:10px auto;
  border-radius:10px;
  height:50px;
}

.MaintenanceMenu button:hover {
  background:salmon;
}

button.ptsCost {
  text-align:center;
  display:inline-block;
  width:25%;
  border-radius: 50px;
  background:#0075BE;
  float:right;
}

button.ptsCost:hover {
  background:#0075BE;
}

.battleButton {
  
}

.MaintenanceFooter {
  display:flex;
  justify-content: space-around;
  margin:15px auto;
}

.PtsBank {
  background: salmon;
}

.battleButton button, .maintenanceButton button, .PtsBank {
  display:block;
  color: #eee;
  font-size:25px;
  padding:10px;
  border:none;
  border-radius:5px;
}

.maintenanceButton button {
  margin:0px auto;
}

.battleButton button, .maintenanceButton button {
  background: #37796C;
}

.battleButton button:hover {
  background: #4DAD5B;
}

/* TEAM GEN MODE */

.teamGenArea {
  display: flex;
  flex-wrap: wrap;
  width:95%;
  margin:0 auto;
  justify-content: space-evenly;
}

.pokemonCard {
  width:25%;
  max-width:275px;
  margin: 15px;
  background:#eee;
  border-top:2px solid #FB1B1B;
  border-right:2px solid #FB1B1B;
  border-bottom:2px solid #0075BE;
  border-left:2px solid #0075BE;
  padding:0 15px;
}

.pokemonCard:hover {
  background:#ccc;
}

.CardNameBar p{
  padding:2px; 
  font-size:22px;
  border-bottom: 2px solid #222;
  margin:0 auto;
  color:#222;
  margin-bottom:10px;
}

.TeamSelectError p {
  text-align:center;
  display:block;
  padding:3px;
  color:red;
  text-decoration:underline;
}

.teamGenArea .selected {
  background:#ccc;
}