body, html {
  width:100%;
  color:#fff;
  height:100%;
}

#root {
  height:100%;
  background-image: url("./assets/img/StadiumBG.png");
  background-size: auto 100%;
}

main {
  width:90%;
  margin:0 auto;
  height:100%;
}

#Arena {
  width:100%;
  display:flex;
}

.trainerArea {
  width:40%;
  margin: 265px 5% 0;
  display:flex;
}

.Bench {
  display:flex;
}

.BenchPokeball {
  width:50px;
  height:50px;
  padding: 10px;
}

.trainerSprite img {
  width:350px;
  height:auto;
}

.pokemonSprite img {
  width : 250px;
  height : auto;
}

.nameBar {
  display:block;
  background:#fff;
  color:#222;
  border: 2px solid #222;
  padding:2px;
  font-size:24px;
}

.type {
  width:125px;
}

